.dark-blue-01 {
  color: #1c2365;
}

.dark-blue-02 {
  color: #1c2365;
}

.royal-blue {
  color: #3a4ae4;
}

.light-blue {
  color: #d1d0ff;
}

.yellow {
  color: #ffde03;
}

.primary-text {
  color: #2e2e2e;
}
